<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" version="1.0.1" id="http://openecard.org/opera">
    <name>Open eCard Legacy Activator</name>
    <description>Scans for eCard object tags and invokes the localhost activation when one is encountered.</description>
    <author href="http://www.openecard.org/">Open eCard Team</author>
    <icon src="images/Open-eCard-Logo_48.png"/>
    <icon src="images/iOpen-eCard-Logo_64.png"/>
</widget>
